/* Login.css */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Background container */
.login-bg {
  position: fixed; /* Use fixed to cover whole screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/image/login_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}


/* Login form box */
.login-box {
  margin-left: 500px;
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Form fields */
.login-box input {
  border-radius: 50px;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

/* Button styles */
.login-box button {
  border-radius: 50px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  
}

.login-box button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}
